body{font-family: Georgia,'Times New Roman',Times,Serif;color: #333;background: #e5e6e7;}
a{color:#0088CC;text-decoration: none;}
#header{padding:5 0 0 50px;color:#333;}
#header .medium{color:#0088CC;}
#content{min-height: 500px; }
#content{background:#F5F6F7;}
#content h2{font-size: 3.7em;color: #444;border-bottom: 1px solid #ebebeb;}
#nav{border-bottom: #999 ridge 1px;}
#footer{border-top: #999 solid 1px;}
#footer ul li {list-style: none;}
.underlinemenu{font-weight: bold;width: 100%;}
.underlinemenu ul{
padding: 6px 0 7px 0; /*6px should equal top padding of "ul li a" below, 7px should equal bottom padding + bottom border of "ul li a" below*/
margin: 0;
text-align: right; //set value to "left", "center", or "right"*/
}
.underlinemenu ul li{display: inline;}
.underlinemenu ul li a{
color: #494949;
padding: 6px 3px 4px 3px; /*top padding is 6px, bottom padding is 4px*/
margin-right: 20px; /*spacing between each menu link*/
text-decoration: none;
border-bottom: 3px solid gray; /*bottom border is 3px*/
}
.underlinemenu ul li a:hover, .underlinemenu ul li a.selected{border-bottom-color: black;}
/*Some form decoration*/
form.medium input, textarea {width: 550px;}
form.medium label {display: block;}
form.medium input.submit {width:120px;}
a.edit{color: #aa1111; border-color: #aa1111;}
a.edit:hover{border-bottom: 1px dotted #aa1111;}